.text-box{
    padding: 10px;
    height: 500px;
    width: 100%;
    display: inline-block;
}

#your_feels{
    height: 300px;
    width: 100%;
    border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;	
	font-family: "Helvetica Neue";
	border: 2px solid #F5F5F5;
    color: #707070;
}
