.title-button{
    align-items: center;
    display: inline-block;
    padding: 20px;
}

.plus-button{
    min-width: 50px;
}

.jumbotron{
    padding: 0px;
}

.row{
    display: flex;
    align-items: center
}

.main-title{
    padding:0;
}

.symptom-list{
    color: #707070;
}