.title-button{
    align-items: center;
    display: inline-block;
    padding: 20px;
}

.plus-button{
    min-width: 50px;
}

.row{
    display: flex;
    align-items: center
}

.main-title{
    padding:0;
}

.symptom-list{
    color: #707070;
    overflow: auto; 
    width:100%; 
    max-height: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: left;
}

ul{
    padding: 0;
}

