{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1>Anxiety Overview</h1>
		</div>
		<div class="col-sm-4">
			<a class ="btn btn-primary" href="{% url 'home-anxiety-feeling-submission' %}"> + </a>
		</div>
	
	</div>
</div>

<h1>Day list</h1>
	{% if day_list %}
	<ul>
		{% for Day in day_list %}
			<li>
				{{ Day.date }}
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>There are no days to display.</p>
	{% endif %}

{% endblock content %}

