{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/home/overview.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/home/base.css' %}">
<br>
<div class="main-container">
<br>
<div class="buttons title-button">
	<div class="row">
		<div class="col-sm-8 main-title">
			<h1>Anxiety Overview</h1>
        </div>
		<div class="col-sm-4">
			<a href="{% url 'home-anxiety-feeling-submission' %}"><button type="submit" class="plus-button">+</button></a>
		</div>
    </div>
<br>
<hr>
<div class="col-sm-12">
    <span class="main-title"><h1>Day List</h1></span>
    <br>
    <br>
        <div class="symptom-list">
            {% if anxiety_day_list %}
                <ul>
                    {% for Day in anxiety_day_list %}
                    <div style="overflow: auto; width:100%; height:50px;">
                        <li>
                            Date:{{ Day.day }}
                            <br>
                            Rating:{{ Day.rating }}
                            <br>
                            Log: {{ Day.log }}   
                        </li>
                    </div>
                    <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no days to display.</p>
            {% endif %}
    </div>

    <div style="align-content: center">
                <small class="text-muted">
                        <a class="col-md-12" style="color:black" href="{% url 'logout' %}">Log Out</a>
                </small>
    </div> 

</div>
{% endblock content %}

