{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/home/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/home/feeling-submission.css' %}">

<div class="main-container">
    <div class="row text-box">
        <form method="POST">
            {% csrf_token %}
            <label for="your_feels" class="main-title">How are you feeling? </label>
            <br>
            {{form.log}}
        </form>
    </div>
</div>
{% endblock content %}