{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/home/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/home/feeling-submission.css' %}">

<div class="main-container">
    <div class="row text-box">
        <form method="POST">
            {% csrf_token %}
            <label class="main-title">How are you feeling? </label>
            <br>
            {{form.log}}
            <br>
            <label class="small">Enter symptom rating for today</label>
            {{ form.rating }}
            <div class="col-md-12">
                <button type="submit">Submit</button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
    </div>
</div>
{% endblock content %}