{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/home/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/home/feeling-submission.css' %}">

<div class="main-container">
    <div class="row text-box">
        <form method="POST">
            {% csrf_token %}
            <label class="main-title">How are you feeling? </label>
            <br>
            {{form.log}}
            {{form.rating}}
            </div>
            <div class="row">
                <div class="col-md-12">
                        <!-- {% with request.get_full_path as url %}
                        {% with '/home/anxiety-overview/feeling-submission/' as anxiety %}
        
                        {% with '/home/depression-overview/feeling-submission/' as depression %}
                        {% if url  == anxiety %}
                            <button type="submit">Submit</button></a>
                            <input type="hidden" name="next" value="{{ next }}">
                        {% elif url == depression %}
                            <a href="{% url 'home-depression-overview' %}"><button type="submit">Submit</button></a>
                            <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
        
                        {% endwith %}
                        {% endwith %}
                        {% endwith %} -->
                        <input type="submit" value="Submit"/>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock content %}