{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/users/base.css' %}">
<div class ="content-section main-container">
        <div class="row main-box">
                <form method="POST">
                        {% csrf_token %}
                        <div class="row main-title">
                                <label><b>Reset Password</b></label>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-md-12">
					{{form.email}}
                                </div>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-md-12">
                                        <button type="submit">Request Password Reset</button>
                                </div>
                        </div>
                </form>
        </div>
</div>
{% endblock content %}


