{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/users/base.css' %}">
<div class ="content-section main-container">
	<div class="row main-box">
		<form method="POST">
			{% csrf_token %}
				<div class="row main-title">
					<label><b>Sign Up</b></label>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
							{{ form.username}}
					</div>
				</div>
				<div class="row">
						<div class="col-md-12">
								{{ form.email}}
						</div>
					</div>
					<div class="row">
							<div class="col-md-12">
									{{ form.password1}}
							</div>
						</div>
						<div class="row">
								<div class="col-md-12">
										{{ form.password2}}
								</div>
							</div>
				<div class="row">
					<div class="col-md-12">
						<button type="submit">Sign Up</button>
					</div>
				</div>
			
		</form>
	</div>
</div>
{% endblock content %}

